.userListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userList {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 40px;
  justify-content: center;
  padding-top: 110px;
}

.paginationNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageButton {
  border: 1px solid #ddd;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.pageButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pageButton:hover:not(:disabled) {
  background-color: #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pageItem {
  margin: 0 5px;
}

.pageLink {
  border: 1px solid #ddd;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.pageLink:hover {
  background-color: #ddd;
}

@media (max-width: 1050px) {
  .userList {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 700px) {
  .userList {
    grid-template-columns: repeat(1, 300px);
  }
}